<style>
	:root {--parent-height-1: 5vh;}
		
	* {touch-action: manipulation;}
		
	/* disable pull to refresh, keeps glow effects */
	html, body {
		font-family: Arial;
		padding: 0px;
		margin: 0px;
		overscroll-behavior-y: contain; 
	}
  
  body {
 overflow: hidden;
 }

.module {
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  width: 100vw;
}

.iFrame_content {
  width: 100%;
	align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
	
}


      
        
/*
        .iFrame_content {
            width: 100vw;
            width: calc(var(--vw, 1vw) * 100);
            height: 100vh;
            height: calc(var(--vh, 1vh) * 100);
            
        }
*/


	
</style>
